//- jquery
script(src="./assets/js/jquery-3.6.0.min.js") 
//-  Bootstrap Bundle
script(src="./assets/js/bootstrap.bundle.min.js") 
//- Bootstrap
script(src="./assets/js/bootstrap.min.js") 
//- Main Script JS
script(src="./assets/js/main.js") 